@import '../../../config.pcss';

.container {
  text-align: center;
  padding: 24px 0;
}
.heading {
  font-size: 14px;
}
.link {
  display: block;
  color: var(--color-gray--37);

  b {
	color: var(--color-gray--90);
  }
}
.linkPart {
  display: inline-block;
}
