@import 'config.pcss';

.group {
  display: flex;
  flex-direction: row;
}

.item {
  border-radius: 0;
  flex-grow: 0;

  --radius: calc(var(--base-size) * 2.5);

  &:first-child {
	border-radius: var(--radius) 0 0 var(--radius);
  }

  &:last-child {
	border-radius: 0 var(--radius) var(--radius) 0;
  }
}

.input {
  flex-grow: 1;
}
