:root {
  /* Layout */
  --layout-max-width: 962px;

  /* Colors */
  --color-gray--90: #191919;
}

@custom-media --small-viewport (max-width: 680px);
@custom-media --medium-viewport (min-width: 680px);
@custom-media --large-viewport (min-width: 1000px);
